/* apartment_layout.css */

/* Author: Ryan Jay Salapare, 000823653 */

h1
{
	color: black;
}

h2, h3, h4, h5, h6
{
	background-image: url(images/dust.jpg);
	padding: 5px;
}

.top
{
	text-align: center;
}

header nav ul
{
	text-align: center;
	list-style-type: none;
}

header nav li
{
	display: inline-block;
}

header nav a
{
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid black;
}

#living
{
	border: none;
}

.details
{
	text-align: center;
}

.table table, td, tr, th
{
	border-collapse: collapse;
	border: 1px solid black;
}
		
.table #lastCol
{
	background-image: url(images/dust.jpg);
}
		
.table #schedule
{
	/*text-align: center;*/
	margin-left: 10px;
}
		
.table td
{
	padding: 10px 10px 10px 5px;
}